/*
 * Copyright (c) 2013-2021, Centre for Genomic Regulation (CRG).
 *
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 *
 * This Source Code Form is "Incompatible With Secondary Licenses", as
 * defined by the Mozilla Public License, v. 2.0.
 *
 */
 
manifest {
  description     = 'Proof of concept of Hello world to work in AWS with Nextflow' 
  author          = 'Jose Espinosa-Carrasco, Edgar Garriga'
  nextflowVersion = '>=20.07.0'
}

// Load modules.config for DSL2 module specific options
includeConfig 'conf/modules.config'

/* 
 * Defines execution profiles for different environments  
 */ 
profiles {
    docker { 
        docker.enabled = true 
        docker.scratch = true 
    }
    batch {
        // process.container = 'quay.io/nextflow/rnaseq-nf:latest' 
        process.executor = 'awsbatch'
        process.queue = 'jose_batch_test'
        workDir = 's3://cbcrg-eu/work'    
        aws.region = 'eu-west-1'
        aws.batch.cliPath = '/usr/local/bin/aws'
    }
    's3-data' {
        // process.container = 'quay.io/nextflow/rnaseq-nf:latest'
        params.cheers_file = 's3://cbcrg-eu/test_hello_world/cheers.csv'
        aws.region = 'eu-west-1'    
    }
    hybrid {
        process {
            executor = 'local'             

            withLabel: aws {      
                executor = 'awsbatch'      
                queue = 'jose_batch_test'
                workDir = 's3://cbcrg-eu/work'                                 
            }    
        }
        aws.region = 'eu-west-1'
        aws.batch.cliPath = '/usr/local/bin/aws'                    
    }
}
