/*
params {
    modules {
        'shared' {
            aln_format = "score_html clustalw_aln fasta_aln score_ascii phylip"
            maxnseq    = "150"
            maxlen     = "10000"
            case       = 'upper'
            outorder   = 'input'            
        }
    }
}
*/

params {
    modules {
        'shared' {
            // aln_format = "score_html clustalw_aln fasta_aln score_ascii phylip"
            aln_format = "fasta_aln"            
            outorder   = "input"
            out_case   = "upper"            
        }
    }
}